<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Covid - 19 Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
<div class="container">
<h1>Covid- 19 Tracker </h1>

<div class="jumbotron">
    <h1 class="display-4" th:text="${totalCases}"></h1>
    <p class="lead">Total cases reported as of today</p>
    <hr class="my-4">
    <p>
        <span>New cases reported yesterday</span>
        <span th:text="${totalNewCases}"></span>
    </p>
</div>

<table class="table">
    <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total cases </th>
        <th>Changes since last day </th>
    </tr>
    <tr th:each="locationStat : ${locationStats}">
        <td th:text="${locationStat.state}"></td>
        <td th:text="${locationStat.country}"></td>
        <td th:text="${locationStat.totalCases}"></td>
        <td th:text="${locationStat.diffFromPrevDay}"></td>
    </tr>
</table>
</div>
</body>

</html>